@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat|Permanent+Marker|Raleway|Roboto|Oxygen&display=swap');

.jumbo-image-home {
    background-image: url("./images/home.jpg");
    height: 100vh;
    background-size: cover;
}

.jumbo-image-todos {
  background-image: url("./images/todos.jpg");
  height: 100vh;
  background-size: cover;
}

.jumbo-image-profile {
  background-image: url("./images/profile.jpg");
  height: 100vh;
  background-size: cover;
}
